body {
    background-color:#aaa;
}

#mainWindow {
    background-color:#ddd;
    width:700pt;
    height:450pt;
    margin-top:18pt;
    margin-left:18pt;
    border: solid #ddd 2px;
}

.titleBar {
    text-align:center;
    font-family:arial;
    font-size:12pt;
    background-color:#333399;
    color:white;
    margin-top:0;
    margin-bottom:0pt;
    padding:2pt;
}

/* the drawing canvas */
#canvas1 { 
    position:absolute;
    left:175px;
    top:0px;
    background-color:white;
}

/* control box */ #controls {
    position:absolute; left:54px; top:66px; width:140px; height:526px;
    background-color:white; padding:6px; 
}

#sliderdiv {
    margin-top:0.6in;
    margin-left:.2in;
    margin-right:.2in;
}

#slidertitle {
    margin-top:0pt;
    margin-bottom:24pt;
    font-weight:bold;
    text-align:center;
    font-size:120%;
}

#slider1 {
    position:relative;
    width:105px;
    top:-16px;
    left:-4pt;
}

#slider2 {
    position:relative;
    width:105px;
    left:-4pt;
}
